[Unit]
Description=minRigs Marine
#After=network.target
After=multi-user.target display-manager.service

[Service]
Type=simple
ExecStart=/bin/bash -c 'source /opt/minRigs-Marine/venv/bin/activate && python /opt/minRigs-Marine/app/barendBoot.py'
WorkingDirectory=/opt/minRigs-Marine
User=sholzhauer
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=graphical.target
#WantedBy=multi-user.target


#[Unit]
#Description=minRigs Marine
#After=multi-user.target
#
#[Service]
#Type=idle
#ExecStart=~/minRigs-Marine/app.sh
#
#[Install]
#WantedBy=multi-user.target

